.block-item{
    padding: 0 5px;
    display: flex;
    flex-flow: column;
    justify-items: flex-start;
    background-color: #E0E0E0;
    border-radius: 2px;
    margin-bottom: 5px;
}
.block-item > div{
    display: flex;
    flex: 1;
    width: fit-content;
}

.block-text{
    text-align: left;
    font-family: arial;
    color: #263238;
    font-size: 11px;
}
small{
    color:blue
}